doctype 5
html
  head
    meta(charset='UTF-8')
    title Thomas Belin
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/js/lib/require.js', data-main='js/main.js')
    script
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36569418-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

  body
    block content
