body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1, h2 { text-align: center }

a {
  color: #00B7FF;
}

#twitter { }


.elasto-container { position:relative; }

.physical-element { position:absolute; }
