@font-face {
  font-family: "tomfont";
  src: url('../font/Tomfont-Regular.ttf');
}

body {
  margin:0;
  background:url('../images/noise.png') #EEE;
  color:#666;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a { color: #F06; }

#header {
  background:url('../images/tom.png') no-repeat center 5px ; /*background-color:#4D90FE;*/
  padding-top:5px; height:70px; font-size:11pt; text-shadow:0px 1px 0px white;
  position:relative;
}
#avatar { height:60px; border-radius:12px;  margin:0 10px; position:absolute; right:10px; top:0; }
.container { margin:auto; width:1000px; height:500px; position:relative; }
#funbar { background: #666; height:100px; width:100%; }

#header .container { width:700px; }
#header h2 { font-size:12pt; }
#header h1,
#header h2 { margin:0; }

/* default value for all the link */
.link {
  position: absolute;
  top:0px;
  left:0px;
  display:block;
  height:64px;
  width:64px;
  text-align:center;
  font-family: tomfont;
  font-size: 100px;
  text-decoration: none;
}

#blog   {
  color: rgba(236, 70, 0, 1);
}
#blog:after { content: 'r' }

#github     {
  color: rgba(57, 223 ,255, 1);
}
#github:after     { content: 'e'; }

#twitter    {
  color: rgba(19, 157, 233, 1);
}
#twitter:after { content: 'l'; }

#doyoubuzz  {
  color: rgba(255, 136, 0, 1);
}
#doyoubuzz:after  { content: 'd'; }
